In [1]:
# import sys
# !{sys.executable} -m pip install python_dotenv
# !{sys.executable} -m pip install python_binance
import os
from binance.client import Client
from binance.spot import Spot

import pandas as pd
from dotenv import load_dotenv

In [2]:
# read from local .env file
load_dotenv() 

api_key = os.environ['BINANCE_API_KEY']
api_secret = os.environ['BINANCE_API_SECRET']

client = Client()
spotClient = Spot()
# myClient = Client(api_key, api_secret, testnet=True)

In [3]:
# INPUT
## d2, d3, d4
timeframe = "3d"
## ema (20 or 25)
ema_size = 25
## A symbol with streak >= this will be printed out
streak_threshold = 44
quote_asset = "BTC"

In [4]:
# Function to query Binance for candlestick data
def get_candlestick_data(symbol, timeframe, qty):
    # Retrieve the raw data
    raw_data = spotClient.klines(symbol=symbol, interval=timeframe, limit=qty)
    # Set up the return array
    converted_data = []
    # Convert each element into a Python dictionary object, then add to converted_data
    for candle in raw_data:
        # Dictionary object
        converted_candle = {
            'time': candle[0],
            'open': float(candle[1]),
            'high': float(candle[2]),
            'low': float(candle[3]),
            'close': float(candle[4]),
            'volume': float(candle[5]),
            'close_time': candle[6],
            'quote_asset_volume': float(candle[7]),
            'number_of_trades': int(candle[8]),
            'taker_buy_base_asset_volume': float(candle[9]),
            'taker_buy_quote_asset_volume': float(candle[10])
        }
        # Add to converted_data
        converted_data.append(converted_candle)
    # Return converted data
    return converted_data

In [5]:
# Define function to calculate an arbitrary EMA    
def calc_generic_ema(symbol, timeframe, ema_size):
    raw_data = get_candlestick_data(symbol=symbol, timeframe=timeframe, qty=1000)
    # Convert into Dataframe
    dataframe = pd.DataFrame(raw_data)
    # Create column string
    ema_name = "ema_" + str(ema_size)
    # Create the multiplier
    multiplier = 2/(ema_size + 1)
    # Calculate the initial value (SMA)
    # pd.set_option('display.max_columns', None) # <- use this to show all columns
    # pd.set_option('display.max_rows', None) # <- use this to show all the rows
    initial_mean = dataframe['close'].head(ema_size).mean()

    # Iterate through Dataframe
    for i in range(len(dataframe)):
        if i == ema_size:
            dataframe.loc[i, ema_name] = initial_mean
        elif i > ema_size:
            ema_value = dataframe.loc[i, 'close'] * multiplier + dataframe.loc[i-1, ema_name]*(1-multiplier)
            dataframe.loc[i, ema_name] = ema_value
        else:
            dataframe.loc[i, ema_name] = 0.00
    # print(dataframe) # <- use this to print the dataframe if you want to inspect
    return dataframe

In [6]:
# GET SYMBOL LIST
info = client.get_exchange_info()
coinlist = []
for c in info['symbols']:
    if c['quoteAsset']==quote_asset and c['status']=="TRADING":
        coinlist.append(c['symbol'])
        
print(len(coinlist))
# sublist = coinlist[0::10]
sublist = coinlist
print('Scanning ' + str(len(sublist)) + ' trading pairs...')

282
Scanning 282 trading pairs...

In [7]:
# Progress bar
from ipywidgets import IntProgress
from IPython.display import display
import time

max_count = len(sublist)

f = IntProgress(min=0, max=max_count) # instantiate the bar
display(f) # display the bar

count = 0
# MAIN
for idx, symbol in enumerate(sublist):
    # update progress bar
    f.value += 1
    
    df = calc_generic_ema(symbol, timeframe, ema_size)

    df['time'] = pd.to_datetime(df['time'], unit='ms')

    del df['volume']
    del df['close_time']
    del df['quote_asset_volume']
    del df['number_of_trades']
    del df['taker_buy_base_asset_volume']
    del df['taker_buy_quote_asset_volume']

    df['oversell_day'] = 0
    df.loc[df['high'] > df['ema_25'], 'oversell_day'] = 1
    df.loc[df['ema_25'] == 0, 'oversell_day'] = 0


    df['streak'] = df.groupby((df["oversell_day"] != df["oversell_day"].shift()).cumsum()).cumcount()+1
    df.loc[df['oversell_day'] == 0, 'streak'] = 0
    
    if (df['streak'].iloc[-1] > streak_threshold):
        print('Symbol: '+ symbol + ' is having an oversell streak')
        display(df['streak'].iloc[-1])
        display(df.tail(30))
        
    if f.value == max_count:
        print('Scan Completed!')

IntProgress(value=0, max=282)

Symbol: VIBBTC is having an oversell streak

93

,time,open,high,low,close,ema_25,oversell_day,streak
624,2022-12-15,0.000005,0.000005,0.000004,0.000005,0.000004,1,64
625,2022-12-18,0.000004,0.000005,0.000004,0.000004,0.000004,1,65
626,2022-12-21,0.000004,0.000004,0.000004,0.000004,0.000004,1,66
627,2022-12-24,0.000004,0.000004,0.000004,0.000004,0.000004,1,67
628,2022-12-27,0.000004,0.000004,0.000004,0.000004,0.000004,1,68
629,2022-12-30,0.000004,0.000004,0.000004,0.000004,0.000004,1,69
630,2023-01-02,0.000004,0.000004,0.000004,0.000004,0.000004,1,70
631,2023-01-05,0.000004,0.000005,0.000004,0.000004,0.000004,1,71
632,2023-01-08,0.000004,0.000004,0.000004,0.000004,0.000004,1,72
633,2023-01-11,0.000004,0.000005,0.000004,0.000004,0.000004,1,73
634,2023-01-14,0.000004,0.000005,0.000004,0.000004,0.000004,1,74
635,2023-01-17,0.000004,0.000004,0.000004,0.000004,0.000004,1,75
636,2023-01-20,0.000004,0.000005,0.000004,0.000004,0.000004,1,76
637,2023-01-23,0.000004,0.000005,0.000004,0.000004,0.000004,1,77
638,2023-01-26,0.000004,0.000004,0.000004,0.000004,0.000004,1,78
639,2023-01-29,0.000004,0.000004,0.000004,0.000004,0.000004,1,79
640,2023-02-01,0.000004,0.000004,0.000004,0.000004,0.000004,1,80
641,2023-02-04,0.000004,0.000004,0.000004,0.000004,0.000004,1,81
642,2023-02-07,0.000004,0.000006,0.000004,0.000005,0.000004,1,82
643,2023-02-10,0.000005,0.000007,0.000004,0.000004,0.000004,1,83
644,2023-02-13,0.000004,0.000004,0.000004,0.000004,0.000004,1,84
645,2023-02-16,0.000004,0.000004,0.000004,0.000004,0.000004,1,85
646,2023-02-19,0.000004,0.000004,0.000004,0.000004,0.000004,1,86
647,2023-02-22,0.000004,0.000006,0.000004,0.000005,0.000004,1,87
648,2023-02-25,0.000005,0.000005,0.000005,0.000005,0.000004,1,88
649,2023-02-28,0.000005,0.000005,0.000004,0.000004,0.000004,1,89
650,2023-03-03,0.000004,0.000005,0.000004,0.000004,0.000004,1,90
651,2023-03-06,0.000004,0.000005,0.000004,0.000004,0.000004,1,91
652,2023-03-09,0.000004,0.000005,0.000004,0.000004,0.000004,1,92
653,2023-03-12,0.000004,0.000005,0.000004,0.000004,0.000004,1,93

Symbol: OPBTC is having an oversell streak

48

,time,open,high,low,close,ema_25,oversell_day,streak
66,2022-12-16,0.000061,0.000062,0.000054,0.000055,0.000055,1,19
67,2022-12-19,0.000055,0.000058,0.000053,0.000057,0.000055,1,20
68,2022-12-22,0.000057,0.000057,0.000054,0.000055,0.000055,1,21
69,2022-12-25,0.000055,0.000057,0.000054,0.000056,0.000055,1,22
70,2022-12-28,0.000056,0.000056,0.000053,0.000055,0.000055,1,23
71,2022-12-31,0.000055,0.000058,0.000055,0.000057,0.000055,1,24
72,2023-01-03,0.000057,0.000063,0.000057,0.000061,0.000056,1,25
73,2023-01-06,0.000061,0.000075,0.000059,0.000074,0.000057,1,26
74,2023-01-09,0.000074,0.000079,0.000069,0.000071,0.000058,1,27
75,2023-01-12,0.000071,0.000086,0.000068,0.000082,0.000060,1,28
76,2023-01-15,0.000083,0.000091,0.000078,0.000082,0.000062,1,29
77,2023-01-18,0.000082,0.000096,0.000076,0.000094,0.000064,1,30
78,2023-01-21,0.000094,0.000109,0.000092,0.000095,0.000067,1,31
79,2023-01-24,0.000095,0.000111,0.000085,0.000096,0.000069,1,32
80,2023-01-27,0.000096,0.000103,0.000092,0.000101,0.000071,1,33
81,2023-01-30,0.000100,0.000120,0.000089,0.000115,0.000075,1,34
82,2023-02-02,0.000115,0.000137,0.000112,0.000128,0.000079,1,35
83,2023-02-05,0.000129,0.000135,0.000120,0.000130,0.000083,1,36
84,2023-02-08,0.000131,0.000137,0.000105,0.000112,0.000085,1,37
85,2023-02-11,0.000112,0.000116,0.000097,0.000102,0.000086,1,38
86,2023-02-14,0.000102,0.000121,0.000099,0.000112,0.000088,1,39
87,2023-02-17,0.000112,0.000118,0.000105,0.000106,0.000090,1,40
88,2023-02-20,0.000106,0.000117,0.000098,0.000112,0.000091,1,41
89,2023-02-23,0.000112,0.000142,0.000111,0.000119,0.000093,1,42
90,2023-02-26,0.000119,0.000130,0.000115,0.000117,0.000095,1,43
91,2023-03-01,0.000117,0.000120,0.000109,0.000114,0.000097,1,44
92,2023-03-04,0.000114,0.000115,0.000102,0.000112,0.000098,1,45
93,2023-03-07,0.000112,0.000115,0.000099,0.000108,0.000099,1,46
94,2023-03-10,0.000108,0.000113,0.000088,0.000107,0.000099,1,47
95,2023-03-13,0.000107,0.000111,0.000103,0.000107,0.000100,1,48

Scan Completed!